*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        135deg,
        #ED2EA5,
        #FAD009
    );
}
#game-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 16px;
}
#grid-container{
    border: 2px solid white;
    width: 70vmin;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}
.grid-box{
    border: 1px solid black;
}
#size-btn{
    
}